/src/*/*.mod.c
/src/*/*.o
/src/*/*.ko
/src/*/*.cmd
/src/*/*.mod
/src/*/*.out
/src/*/Module.symvers
/src/*/modules.order
/src/*/.tmp_versions
/src/*/compile_commands.json

/linux-*
/busybox-*
/initramfs.cpio.gz

/.gitignore
/fs/*.ko
/fs/linuxrc
/fs/sbin
/fs/usr
/fs/bin
